<div class="policies-container">
  <div class="policies-header">
    <h1 class="policies-title">Policies and Procedures</h1>
    <i class="bi bi-info-circle" (click)="openModal($event)"></i>
  </div>
  <app-policies-table></app-policies-table>
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Information</h2>
      <p>Here is some information about policies and procedures.</p>
    </div>
  </div>
</div>
