/* Container for the table */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

/* Table header styling */
th {
  /* background-color: #f2f2f2; */
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

/* Add styles for sorted columns */
th.sorted-asc::after {
  content: " \25B2"; /* Up arrow */
}

th.sorted-desc::after {
  content: " \25BC"; /* Down arrow */
}

/* Table row styling */
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #f5f5f5;
}

/* Image styling */
td img {
  width: 24px;
  height: 24px;
}
