<div class="pagination-controls">
  <div class="left-controls">
    <label for="pageSize">Show:</label>
    <select id="pageSize" (change)="updatePageSize($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </div>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th
          class="sortable"
          (click)="sortTable('name')"
          [class.sorted-asc]="sortColumn === 'name' && sortDirection === 'asc'"
          [class.sorted-desc]="
            sortColumn === 'name' && sortDirection === 'desc'
          "
        >
          NAME
        </th>
        <th
          class="sortable"
          (click)="sortTable('description')"
          [class.sorted-asc]="
            sortColumn === 'description' && sortDirection === 'asc'
          "
          [class.sorted-desc]="
            sortColumn === 'description' && sortDirection === 'desc'
          "
        >
          DESCRIPTION
        </th>
        <th
          class="sortable"
          (click)="sortTable('department')"
          [class.sorted-asc]="
            sortColumn === 'department' && sortDirection === 'asc'
          "
          [class.sorted-desc]="
            sortColumn === 'department' && sortDirection === 'desc'
          "
        >
          DEPARTMENT
        </th>
        <th
          class="sortable"
          (click)="sortTable('type')"
          [class.sorted-asc]="sortColumn === 'type' && sortDirection === 'asc'"
          [class.sorted-desc]="
            sortColumn === 'type' && sortDirection === 'desc'
          "
        >
          TYPE
        </th>
        <th>DOCUMENTS</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of paginatedPolicies">
        <td>{{ policy.name }}</td>
        <td>{{ policy.description }}</td>
        <td>{{ policy.department }}</td>
        <td>{{ policy.type }}</td>
        <td><img src="/pdf.png" /></td>
        <td>
          <button
            class="btn btn-primary btn-sm me-2"
            (click)="downloadPolicy(policy)"
          >
            <i class="bi bi-box-arrow-down"></i>
          </button>
          <button
            class="btn btn-secondary btn-sm me-2"
            (click)="editPolicy(policy)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-info btn-sm" (click)="infoPolicy(policy)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination-controls-bottom">
  <div class="center-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
