<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>DEPARTMENT</th>
        <th>TYPE</th>
        <th>DOCUMENTS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policies">
        <td>{{ policy.name }}</td>
        <td>{{ policy.description }}</td>
        <td>{{ policy.department }}</td>
        <td>{{ policy.type }}</td>
        <td><img src="/pdf.png" /></td>
      </tr>
    </tbody>
  </table>
</div>
