<div class="table-container">
  <table>
    <thead>
      <tr>
        <th
          (click)="sortTable('name')"
          [class.sorted-asc]="sortColumn === 'name' && sortDirection === 'asc'"
          [class.sorted-desc]="
            sortColumn === 'name' && sortDirection === 'desc'
          "
        >
          NAME
        </th>
        <th
          (click)="sortTable('description')"
          [class.sorted-asc]="
            sortColumn === 'description' && sortDirection === 'asc'
          "
          [class.sorted-desc]="
            sortColumn === 'description' && sortDirection === 'desc'
          "
        >
          DESCRIPTION
        </th>
        <th
          (click)="sortTable('department')"
          [class.sorted-asc]="
            sortColumn === 'department' && sortDirection === 'asc'
          "
          [class.sorted-desc]="
            sortColumn === 'department' && sortDirection === 'desc'
          "
        >
          DEPARTMENT
        </th>
        <th
          (click)="sortTable('type')"
          [class.sorted-asc]="sortColumn === 'type' && sortDirection === 'asc'"
          [class.sorted-desc]="
            sortColumn === 'type' && sortDirection === 'desc'
          "
        >
          TYPE
        </th>
        <th>DOCUMENTS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policies">
        <td>{{ policy.name }}</td>
        <td>{{ policy.description }}</td>
        <td>{{ policy.department }}</td>
        <td>{{ policy.type }}</td>
        <td><img src="/pdf.png" /></td>
      </tr>
    </tbody>
  </table>
</div>
