<!-- Footer -->
<footer>
  <div class="footer-content">
    <p>&copy; 2025 Venture Global</p>
    <ul class="footer-links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <a href="https://ventureglobal.com/" target="_blank"
      ><img src="world-wide-web.png" alt="Website"
    /></a>
    <a
      href="https://www.linkedin.com/company/venture-global-lng-inc./posts/?feedView=all"
      target="_blank"
      ><img src="linkedin.png" alt="LinkedIn"
    /></a>
    <a href="https://x.com/Venture_Global" target="_blank"
      ><img src="twitter.png" alt="Twitter"
    /></a>
  </div>
</footer>
