.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0px;
  max-height: 440px; /* Adjust as needed */
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 1rem;
}

.logo-card {
  flex: 1 1 22%; /* Ensure four cards per row with some gap */
  max-width: 22%; /* Ensure four cards per row with some gap */
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.logo-card:hover {
  transform: scale(1.05);
}

.logo-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.logo-card-content {
  padding: 10px;
}

.logo-image {
  width: 100%;
  height: auto;
}

.logo-title {
  margin-top: 10px;
  font-size: 14px; /* Decreased text size */
  font-weight: 300;
  max-height: 40px; /* Adjust as needed */
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: clip;
}
