.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0px;
  max-height: 440px; /* Adjust as needed */
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 1rem;
  height: 70%;
}

.logo-card {
  flex: 1 1 22%; /* Ensure four cards per row with some gap */
  max-width: 22%; /* Ensure four cards per row with some gap */
  box-sizing: border-box;
  text-align: center;
  /* background-color: antiquewhite; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.logo-card:hover {
  transform: scale(1.05);
}

.logo-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.logo-card-content {
  padding: 0.5rem;
}

.logo-image {
  width: auto;
  max-height: 50px;
}

.logo-title {
  margin-top: 10px;
  font-size: 0.75rem; /* Decreased text size */
  font-weight: 500;
  max-height: 40px; /* Adjust as needed */
  overflow-y: hidden;
  white-space: normal; /* Allow text to wrap to the next line */
  /* text-overflow: ellipsis; */
}

@media (max-width: 950px) {
  .logo-title {
    display: none;
  }
}
