<div class="product-page-container">
  <div class="product-cards-container">
    <div *ngFor="let product of products">
      <a [href]="product.hyperlink" target="_blank">
        <div class="product-card">
          <h2 class="product-title">{{ product.title }}</h2>
          <p class="date">{{ product.date }}</p>
          <div class="depts-facilities-container">
            <div class="departments">
              <span *ngFor="let dept of product.departments">{{ dept }}</span>
            </div>
            <div class="facilities">
              <span *ngFor="let facility of product.facilities">{{
                facility
              }}</span>
            </div>
          </div>
          <p class="product-description">{{ product.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
